---
layout: default2.1
---

<nav class="mt-auto" aria-label="blog">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="{{ '/blog/category.html' | prepend: site.url }}">Articles by Category</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="{{ '/blog/date.html' | prepend: site.url }}">Articles by Date</a>
        </li>
    </ul>
</nav>


<div class="blog-tags"> 
  {% assign tags = site.categories | sort %}
  {% for tag in tags %}
  <!-- <a href="#{{ tag[0] | slugify }}" class="btn btn-default" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">  -->
    <!-- style="color: #1C1C1C;" is font color of cloud index -->
  <a href="#{{ tag[0] | slugify }}" class="btn btn-default" style="font-size: 1rem;"> <!-- style="color: #1C1C1C;" is font color of cloud index -->
    <!-- <span class="fa fa-folder-open" aria-hidden="true">  -->
    <i class="bi bi-folder-fill"></i> {{ tag[0] | capitalize }} <i class="badge">{{ tag | last | size }}</i>
    <!-- </span> -->
  </a>
  {% endfor %}
</div>

<hr/>

<div class="post-preview"> 
  {% for tag in tags %} 
    <h2 id="{{ tag[0] | slugify }}" style="padding-top: 70px;"> {{ tag[0] | capitalize }}  <i class="badge">{{ tag | last | size }}</i></h2>
    <ul class="later on">
      {% for post in tag[1] %}
        <a class="post-subtitle" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <small class="post-meta"> - Posted on {{ post.date | date: "%B %-d, %Y" }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
      <a href="#top" class="btn btn-primary btn-sm">
        <!-- <span class="fa fa-refresh" aria-hidden="true"></span> Go back to the top -->
        <i class="bi bi-folder-fill"></i> Go back to the top
      </a> 
      <hr/>
  {% endfor %}
</div>
<br>
<a class="btn btn-primary btn-sm text-white justify-content-center" style="line-height: 0rem; text-align: center; display: block; margin: 0 auto; width: 14rem;" href="{{ "/blog/" | prepend: site.url }}">Main</a>